.app{
  text-align: center;
}


.buttons {
	background-color:#148fcd;
	border-radius:11px;
	border:1px solid #148fcd;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:15px 62px;
  text-decoration:none;
  margin: 15px;
}
